*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ececec;
}

.container {
  max-width: 500px;
  margin: 20px auto;
  padding: 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #4444c486;
}


.header__logo {
  color: red;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  border:2px solid #000000;
}

.header__logo:hover {
  border:2px solid red;
  color: #ffffff;
  background-color: #000000;
}

.header__toggle {
  border: none;
  width: 32px;
  height: 32px;
  background-color: transparent;
  cursor: pointer;
  background-image: url("burger.svg");
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__toogle--opened {
  background-image: url("close.svg");
  display: flex;
}

.burger-menu {
  display: none;
}

.burger-menu--opened {
  display: block;
  margin: 0;
  text-align: center;
}

.burger-menu__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.burger-menu__item {
  border-bottom: 1px solid #000000;
}

.burger-menu__item:first-child {
  border-top: 1px solid #000000;
}

.burger-menu__link {
  display: block;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-decoration: none;
  padding: 10px 0
}

.burger-menu__link:hover {
  color: #ffffff;
  background-color: #000000;
}

